.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main button{
    width: 7rem;
    height: 3rem;
    font-size: 2rem;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 8px;
}

.main p{
    width: 7rem;
    height: 3rem;
    font-size: 2rem;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
}